body {
	background-color: #000;
	
	margin: 0;
	padding: 0;
	
	position: absolute;
	width: 100%;
	height: 100%;
	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

#nav {
	background-color: #222;
	color: #fff;
	
	margin: 0;
	padding: 0;
	
}
#nav nav {
	margin: 0;
	padding: 0;
	
	display: -webkit-flex;
	display: flex;
}
#nav .item {
	background-color: #222;
	padding: 20px;
}
#nav .item.active {
	background-color: #722;
}
#nav .item:hover {
	background-color: #a22;
	cursor: pointer;
}
#nav .space, .space2 {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
#nav .space2 {
	display: none;
}
#navexpand {
	background-color: #222;
	padding: 20px;
	display: none;
}
#navexpand:hover {
	cursor: pointer;
	color: #a22;
}

#rnav {
	background-color: #222;
	color: #fff;
	
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
#rnav * {
	background-color: #222;
	padding: 20px 50px;
	text-align: center;
}
#rnav *:hover {
	background-color: #a22;
	cursor: pointer;
}
#navcollapse {
	background-color: #222;
	color: #a22;
	padding: 20px;
	text-align: right;
}
#navcollapse:hover {
	background-color: #222;
	color: #fff;
}

#content {
	background-color: #333;
	color: #fff;
	
	margin: 0;
	padding: 20px;
	
	overflow: auto;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

td, th {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	color: #c52;
}

input[type="text"], input[type="number"], textarea, select, button {
	background-color: #2e2e2e;
	color: #fff;
	padding: 2px;
	border: 2px solid #222;
}
input[type="number"] {
	text-align: center;
}
button {
	padding: 5px;
	margin: 2px;
	font-weight: bold;
	color: #c52;
}
button:hover, button.down {
	background-color: #c52;
	color: #333;
	cursor: pointer;
}
button[disabled], button[disabled]:hover, button[disabled].down {
	background-color: #2e2e2e;
	color: rgba(204, 85, 34, 0.7);
}

ul#files {
	list-style: none;
	padding-left: 10px;
}
ul#files li {
	padding: 5px;
}
ul#files li a, ul#files li a:hover, ul#files li a:visited {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

#cons_console {
	font-family: monospace;
	text-align: left;
	white-space: nowrap;
	overflow: auto;
	
	background-color: #2e2e2e;
	padding: 10px;
	border: 2px solid #222;
	
	width: 96%;
	height: 300px;
	margin: 10px 0;
}
#cons_console .in {
	color: #fff;
}
#cons_console .out {
	color: #8ef;
	padding: 5px 0;
}
#cons_form {
	text-align: left;
	
	width: 100%;
	display: -webkit-flex;
	display: flex;
}
#cons_enter {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

@media screen and (min-width: 1250px) {
	#nav nav {
		margin: 0 20%;
	}
	#content {
		margin: 0 20%;
	}
}
@media screen and (max-width: 600px) {
	#nav nav .item, #nav nav .space {
		display: none;
	}
	#nav nav .active, #nav nav .space2, #navexpand {
		display: initial;
	}
}
